body{
  box-sizing: border-box;
  margin: 0 auto;
  background: #FFF6D9;
}

h1, h2, h3, h4{
  color: #FF9800;
  font-family: 'Lora', serif;
  margin: 0;
}

p{
  color: #FF9800;
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: #FF9800;

  transition: .3s;
}

a:hover{
  color: white;
}

ul{
  display: inline-table;
  font-family: 'Raleway', sans-serif;
}

li{
  display: table-cell;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

button{
  padding: 1em 2.5em;
  font-size: 1em;
  background: #FF9800;
  border-radius: 3px;
  border: none;
}


/* Header + Menu */

header{
  background: #570026;
}

header h1{
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.navright{
  float: right;
}

.navsearch{
  visibility: hidden;
}


/* Main page */

.wrapper{
  margin: 0 auto;
  width: 1170px;
}


/* Footer */

footer{
  background: #570026;
  text-align: center;
  padding: 3em;
}
