body{
  box-sizing: border-box;
  margin: 0 auto;
  background: #10202F;
}

h1, h2, h3, h4{
  color: #FF9800;
  font-family: 'Lora', serif;
  margin: 0;
}

p, label, form{
  color: #FF9800;
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: #FF9800;

  transition: .3s;
}

a:hover{
  color: white;
}

ul{
  display: inline-table;
  font-family: 'Raleway', sans-serif;
  padding: 0;
}

li{
  display: table-cell;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

.buttonbig{
  padding: 1em 2.5em;
  margin: 20px;
  width: 1130px;
  font-size: 1em;
  background: #FF9800;
  border-radius: 3px;
  border: none;

  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.5);

  transition: .3s;
}

.buttonbig:hover{
  cursor: pointer;
  background: white;
}

/* Header + Menu */

header{
  background: #263248;
  padding: 1em 0;
}

header h1{
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.navright{
  float: right;
}

.navsearch{
  border-top: 2px solid #10202F;
  padding: 1em 0;
  margin-top: 1em;
}

.inputnav{
  display: inline-block;
  width: 225px;
}

.hide{
  display: none;
}

.open{

}

.buttonsearch{
  background: #FF9800;
  border: none;
  font-size: 1em;
  padding: .5em 2em;
  border-radius: 4px;

  box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);

  transition: .3s;
}

.buttonsearch:hover{
  background: white;
  cursor: pointer;
}


/* Main page */

.wrapper{
  margin: 0 auto;
  width: 1170px;
}

.thumbnail{
  background: #263248;
  display: inline-block;
  padding: 1em;
  margin: 20px;
  max-width: 240px;

  transition: .3s;
}

.thumbnail:hover{
  background: #7E8AA2;
}

.thumbnail p{
  text-align: center;
  width: 220px;
}


/* Formulaires de connexion et inscription */

#formconnexion, #forminscription{
  margin: 20px;
  padding: 20px;
  background: #263248;
}

form h1{
  text-align: center;
}

.form-group{
  display: inline-block;
}

input{
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: 2px solid #FF9800;
}


/* Footer */

footer{
  background: #263248;
  text-align: center;
  padding: 3em;
}
